body {
	margin: 10px auto;
	font-size:12px;
} 
dl, dt, dd{ margin:0; padding:0;} 
dl {	
	width: 153px;
}
dt {
	padding: 5px 20px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-weight:bold;
    
}
.leftIco{background: #6699ff url(../images/left.gif) 6px 7px  no-repeat;}
.bottomIco{background: #ffccff url(../images/bottom.gif) 6px 7px  no-repeat;}
dd {
	display:none;
}

dd a{
  display:block;
  color:#006699;
  background-color:#EFEFEF;
  padding-left:20px;
  font-weight:bold;
  text-decoration:none;
}
dd a:hover{
  color: #000000;
  text-decoration:underline;
}